// Override default variables before the import
$theme-colors: (
  "primary": teal,
);

a {
  color: inherit;
}

.fill {
  min-height: 100vh;
}

.text {
  &:hover {
    color: inherit;
  }
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
